:root{
    --primary-color: #be0808;
    --secondary-color: #8b0101;
}

.outfit-font{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html{
    scroll-behavior: smooth;
}

textarea:focus, input:focus{ outline: 0; }

nav{
    position: fixed;
    overflow: hidden;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    top: 0;
}

.logo_slogan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1vw;
}

.logo{
    text-decoration: none;
    color: white;
    /* font-size: calc(30px + 0.390625vw); */
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
}

.slogan{
    color: white;
    font-size: 1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    padding-left: 1vw;
}

.nav_right{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1vw;
}

#searchbar{
    width: 12rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem;
    /* margin-right: 0.1vw; */
    font-family: "Outfit", sans-serif;
    font-weight: 350;
}

.navbtn{
    border: 0.1rem solid white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    padding: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    /* align-items: center; */
    background-color: #fff;
    margin-left: 0.4vw;
}

.navico{
    max-width: 1rem;
    height: auto;
}

main{
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.related_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

.related_recipe{
    text-decoration: none;
}

.global_lscroll{
    padding: 1vh;
    border: none;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.105);
    background-color: #fff;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: 1rem;
}

.global_rscroll{
    padding: 1vh;
    border: none;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.105);
    background-color: #fff;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: auto;

}

.scrollico{
    max-width: 1.5rem;
    height: 2rem;
}

.related_img{
    max-width: 55rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.105);
}

.header_related{
    position: relative;
    text-align: center;
}

.related_title{
    font-size: 2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 22rem;
    left: 3rem;
    color: white;
}

.related_desc{
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 26rem;
    left: 3rem;
    color: white;
    
}

.categories{
    margin-top: 1rem;
}

.global_title{
    font-size: 2.4rem;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

