:root{
    --primary-color: #be0808;
    --secondary-color: #8b0101;

    --seafood-primary-color: #0986bc;
    --seafood-secondary-color: #074960;

    --chicken-primary-color: #f7b733;
    --chicken-secondary-color: #ba8002;

    --beef-primary-color: #7101b7;
    --beef-secondary-color: #3b0263;

    --appetizers-primary-color: #f4c567;
    --appetizers-secondary-color: #f0af23;

    --side-dishes-primary-color: #bbf630;
    --side-dishes-secondary-color: #57a801;

    --salads-primary-color: #00d307;
    --salads-secondary-color: #029518;
}

.outfit-font{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html{
    scroll-behavior: smooth;
}

textarea:focus, input:focus{ outline: 0; }

a{
    text-decoration: none;
}

nav{
    position: fixed;
    overflow: hidden;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    top: 0;
}

.logo_slogan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1vw;
}

.logo{
    text-decoration: none;
    color: white;
    /* font-size: calc(30px + 0.390625vw); */
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
}

.slogan{
    color: white;
    font-size: 1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    padding-left: 1vw;
}

.nav_right{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1vw;
}

#searchbar{
    width: 12rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem;
    /* margin-right: 0.1vw; */
    font-family: "Outfit", sans-serif;
    font-weight: 350;
}

.navbtn{
    border: 0.1rem solid white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    padding: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    /* align-items: center; */
    background-color: #fff;
    margin-left: 0.4vw;
}

.navico{
    max-width: 1rem;
    height: auto;
}

main{
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* .related{
    background-color: #5f5e5e;
} */

.related_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

.global_lscroll{
    padding: 1vh;
    border: none;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.105);
    background-color: #fff;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: 1rem;
}

.global_rscroll{
    padding: 1vh;
    border: none;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.105);
    background-color: #fff;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: auto;

}

.scrollico{
    max-width: 1.5rem;
    height: 2rem;
}

.related_img{
    max-width: 55rem;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.105);
}

.header_related{
    position: relative;
    text-align: center;
}

.related_title{
    font-size: 2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 22rem;
    left: 3rem;
    color: white;
}

.related_desc{
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 26rem;
    left: 3rem;
    color: white;
    
}

.categories{
    margin-top: 1rem;
}

.global_title{
    font-size: 2.4rem;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.category_list{
    display: grid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 2fr));
}

.category_box{
    width: 18rem;
    height: 20rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.105);
    position: relative;
    text-align: center;
}

#seafood{
    background: linear-gradient(45deg, var(--seafood-primary-color), var(--seafood-secondary-color));
}

#chicken{
    background: linear-gradient(45deg, var(--chicken-primary-color), var(--chicken-secondary-color));
}

#beef{
    background: linear-gradient(45deg, var(--beef-primary-color), var(--beef-secondary-color));
}

#appetizers{
    background: linear-gradient(45deg, var(--appetizers-primary-color), var(--appetizers-secondary-color));
}

#side_dishes{
    background: linear-gradient(45deg, var(--side-dishes-primary-color), var(--side-dishes-secondary-color));
}

#salads{
    background: linear-gradient(45deg, var(--salads-primary-color), var(--salads-secondary-color));
}

.category_title{
    font-size: 2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 15rem;
    left: 2rem;
    color: white;
    text-align: left;
}

.category_ico{
    font-size: 4rem;
    position: absolute;
    top: 10rem;
    left: 2rem;
    text-align: left;
}

.recipe_overview{
    display: flex;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    border-top: 1px solid #959494;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;;
}

.recipe_title{
    font-size: 2rem;
    font-weight: 550;
    color: black;
}

.recipe_desc{
    font-size: 1.3rem;
    font-weight: 300;
    color: #5F6368;
}

.add_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.addico{
    max-width: 1.5rem;
    height: auto;
    margin-right: 0.3rem;
}

.add_info_text{
    font-family: "Outfit", sans-serif;
    display: flex;
    align-self: center;
    color: #5F6368;
}

#category_val{
    color: #5F6368;
}

.add_info_separator{
    background-color: #5F6368;
    width: 0.1rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer{
    background-color: #5f5e5e;
    color: white;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
;   align-items: center;
margin-top: 1.2rem;
}

.footer_logo{
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.footer_link{
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    color: rgb(192, 192, 192);
}

/* RECIPE OVERVIEW (maybe some other pages idk) */

.bgimg{
    object-fit: contain;
    width: 100%;
    height: auto;
}


.global_desc{
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #5F6368;
}

.rd_sectionname{
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #000000;
    margin-top: 1rem;
}

.rd_list{
    font-family: "Outfit", sans-serif;
    color: #5F6368;
    font-size: 1.3rem;
    font-weight: 350;
}

.rdl_el{
    margin: 0.6rem 0 0.6rem 0;
}

.rd_additionalinfo{
    display: flex;
    flex-direction: row;
}

.recipe{
    margin-bottom: 1.2rem;
}

/* CATEGORY FILTER  */

.category_container{
    height: 30rem;
    border-radius: 1.8rem;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.105);
    position: relative;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: "Outfit", sans-serif;
    color: white;
}

.fcategory_ico{
    position: absolute;
    top: 12rem;
    left: 2rem;
    font-size: 4rem;
}

.fcategory_title{
    position: absolute;
    top: 18rem;
    left: 2rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: left;

}

.fcategory_desc{
    position: absolute;
    top: 23rem;
    left: 2rem;
    text-align: left;
    font-size: 1.3rem;
}

/* logon */

/* only for logon and register pages */
#logon_title{
    text-align: center;
}

#global_desc{
    text-align: center;
    font-size: 1rem;
    margin-top: 3rem;
}

.register_link{
    font-weight: 600;
    color: #5F6368;
    text-decoration: underline;
}
/* only for logon and register pages */

.logon{
    margin: 12rem 0 10rem 0;
}

.logon_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logon_label{
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #5F6368;
    margin-bottom: 0.6rem;
}

.logon_input{
    width: 20rem;
    height: 2rem;
    border-radius: 0.7rem;
    border: 0.1rem solid #ffffff;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.105);
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}


.logon_btn{
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.105);
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
}